{% extends 'layout.html.twig' %}

{% block title %}Panier{% endblock %}

{% block content %}
    <h1>Mon Panier</h1>

    <table>
        <thead>
            <th>Produit</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Total</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for product in dataCart %}
                <tr>
                    <td>{{product.product.name}}</td>
                    <td>{{product.product.price}} €</td>
                    <td>{{product.quantity}}</td>
                    <td>{{product.quantity * product.product.price}}</td>
                    <td>
                        <a href="{{path('cart_add', {id: product.product.id})}}">
                            <i class="fas fa-cart-plus"></i>
                        </a>
                        <a href="{{path('cart_remove', {id: product.product.id})}}">
                            <i class="fas fa-cart-arrow-down"></i>
                        </a>
                        <a href="{{path('cart_delete', {id: product.product.id})}}">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td> Votre panier est vide </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>Total</td>
                <td>{{ total }} €</td>
                <td>
                    <a href="{{path('cart_deleteAll')}}">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
