{% extends 'layout.html.twig' %}

{% block title %}{{parent()}} - Panier{% endblock %}

{% block content %}

    <section class="cart">
        <h1 class="rubriqueTitle">Mon Panier</h1>

        <div id="cartTables">
            <table id="resumeTable">
                <thead>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Description</th>
                    {# <th>Quantité</th> #}
                    {# <th>Total</th> #}
                    <th>Actions</th>
                </thead>
                <tbody>
                
                    {% for product in dataCart %}
                        <tr>
                            <td class="product">
                                <a class="cartProductTitle" href="{{path('product', {'id': product.product.id} )}}">{{product.product.name}}</a>
                                <a class="cartArtistTitle" href="{{path('artistPage', {'id': product.product.artist.id} ) }}">{{ product.product.artist.firstname }} {{ product.product.artist.name }}</a>
                                <img src="{{ asset('img/product/' ~ product.product.img) }}"/>
                            </td>
                            <td class="priceTag">
                                {{product.product.price}} €
                            </td>
                            <td>
                                {{product.product.description}}
                            </td>
                            {# <td>{{product.quantity}}</td> #}
                            {# <td>{{product.quantity * product.product.price}} €</td> #}
                            <td>
                                {# <a href="{{path('cart_add', {id: product.product.id})}}">
                                    <i class="fas fa-cart-plus"></i>
                                </a> #}
                                {# <a href="{{path('cart_remove', {id: product.product.id})}}">
                                    <i class="fas fa-cart-arrow-down"></i>
                                </a> #}
                                <a href="{{path('cart_delete', {id: product.product.id})}}">
                                    <i class="fas fa-trash" title="Supprimer la ligne"></i>
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td> Votre panier est vide </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table id="totalTable">
                <thead>
                    <th>Total</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    <tr>
                        <td class="priceTag">{{ total }} €</td>
                        <td>
                            <a href="{{path('cart_deleteAll')}}">
                                <i title="Supprimer le panier" class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% for product in dataCart %}
            <a class="validBtn" href="{{path('order')}}">Valider mon panier</a> 
        {% else %}
            <a href="{{path('app_product')}}">Choisir des produits pour mon panier</a>
        {% endfor %}
    </section>
    
{% endblock %}
