{% extends 'layout.html.twig' %}

{% block title %}{{parent()}} - Panier{% endblock %}

{% block content %}

    <section class="cart">
        <h1>Mon Panier</h1>

        <div id="cartTables">
            <table id="resumeTable">
                <thead>
                    <th>Produit</th>
                    <th>Prix</th>
                    {# <th>Quantité</th> #}
                    {# <th>Total</th> #}
                    <th>Actions</th>
                </thead>
                <tbody>
                
                    {% for product in dataCart %}
                        <tr>
                            <td class="product">
                            {{product.product.name}}
                            <img src="{{ asset('img/product/' ~ product.product.img) }}"/>
                            
                            </td>
                            <td>{{product.product.price}} €</td>
                            {# <td>{{product.quantity}}</td> #}
                            {# <td>{{product.quantity * product.product.price}} €</td> #}
                            <td>
                                {# <a href="{{path('cart_add', {id: product.product.id})}}">
                                    <i class="fas fa-cart-plus"></i>
                                </a> #}
                                {# <a href="{{path('cart_remove', {id: product.product.id})}}">
                                    <i class="fas fa-cart-arrow-down"></i>
                                </a> #}
                                <a href="{{path('cart_delete', {id: product.product.id})}}">
                                    <i class="fas fa-trash" title="Supprimer la ligne"></i>
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td> Votre panier est vide </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table id="totalTable">
                <thead>
                    <th>Total</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ total }} €</td>
                        <td>
                            <a href="{{path('cart_deleteAll')}}">
                                <i title="Supprimer le panier" class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a class="validBtn" href="{{path('order')}}">Valider mon panier</a> {#ancienne classe :class="validBtn"#}
    </section>
    
{% endblock %}
