{% extends 'layout.html.twig' %}

{% block title %}{{parent()}} - Erreur de paiement{% endblock %}

{% block content %}

    <h1 class="rubriqueTitle">Erreur de paiement</h1>

<div class="recapInfo">
    <p>Bonjour {{ order.user.firstname }} {{ order.user.name}},</p>
    <p>Il semblerait que votre paiement ai échoué pour votre commande n°{{ order.reference }}</p>
    <p>Un email vient de vous être envoyé à l'adresse {{ order.user.email }}.</p>
</div>   
   <hr class="subRubrique" />
<a class="subRubrique" href="{{path('order') }}">Réessayer le paiement</a>
{% endblock %}