{% extends 'layout.html.twig' %}

{% block title %}{{parent()}} - Evènements{% endblock %}

{% block content %}
    <h1 class="rubriqueTitle">Evènements</h1>
    <div class="filters">
    </div>

    <section class="eventsList">
    {% for event in events %}
        
        <div class="eventCard">
            <img src="{{ asset('img/event/' ~ event.picture) }}"/> 
            <div>
                <h2 class="secondaryTitle">{{ event.title | capitalize }}</h2>  
                <p><b>Date de début: </b>{{event.dateStart |date("m/d/Y") }}</p>   
                <p><b>Date de fin: </b>{{event.dateEnd |date("m/d/Y") }}</p>           
                <p>{{ event.article | capitalize | slice(0, 150)}}</p>
            </div>     
        </div>
    {% else %}
    <p>Il n'y a pas d'évènements</p>
    {% endfor %}
	</section>
{% endblock %}