{% extends 'layout.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
<section class="promotion">
    <h2>Promotions du moment</h2>
</section>
<article>
    <div class="article__header">
        <h2>Les vitrines</h2>
        <a href="#">+ tout voir</a>
    </div>
    <div class="article__image">
        {% for product in products | reverse | slice(0, 1) %} 
            <div class="article__image--big">
                <h3>{{ product.name | capitalize}}</h3>
                <img src="{{ product.img }}"/>
            </div>
            {% for product in products | reverse | slice(1, 4) %} 
                <div class="article__image--small">
                    <h3>{{ product.name | capitalize }}</h3>
                    <img src="{{ product.img }}"/>
                </div>
            {% endfor %}
        {% else %}
            <p>Il n'y a pas encore d'oeuvres à présenter.</p>
        {% endfor %}
    </div>
</article>
<article>
    <div class="article__header">
        <h2>Les artistes</h2>
        <a href="{{path('artistList')}}">+ tout voir</a>
    </div>    
    <div class="article__image">
        {% for artist in artists | reverse | slice(0, 1) %} 
            <div class="article__image--big">
                <h3>{{ artist.name | capitalize}} {{artist.firstname| capitalize}}</h3>
                {# <img src="https://via.placeholder.com/200x185"> #}
                <img src="{{ artist.avatar }}"/>
            </div>
            {% for artist in artists | reverse | slice(1, 4) %} 
                <div class="article__image--small">
                    <h3>{{ artist.name | capitalize}} {{artist.firstname| capitalize}}</h3>
                    {# <img src="https://via.placeholder.com/100x85"> #}
                    <img src="{{ artist.avatar }}"/>
                </div>
            {% endfor %}
        {% else %}
            <p>Il n'y a pas encore d'artistes à présenter.</p>
        {% endfor %}
    </div>
</article>
<article>
    <div class="article__header">
        <h2>Le oeuvres uniques</h2>
        <a href="{{path('app_product')}}">+ tout voir</a>
    </div>
    <div class="article__image">
        {% for product in products | reverse | slice(0, 1) %} 
            <div class="article__image--big">
                <h3>{{ product.name | capitalize}}</h3>
                <img src="{{ product.img }}"/>
                <p>{{ product.price }}€</p>
            </div>
            {% for product in products | reverse | slice(1, 4) %} 
                <div class="article__image--small">
                    <h3>{{ product.name | capitalize }}</h3>
                    <img src="{{ product.img }}"/>
                    <p>{{ product.price }}€</p>
                </div>
            {% endfor %}
        {% else %}
            <p>Il n'y a pas encore d'oeuvres à présenter.</p>
        {% endfor %}
    </div>
</article>
<section class='subscription'>
    <div>
        <h2>Inscription à notre newsletter</h2>
        <p>Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu. Vidit dissentiet eos cu eum an brute copiosae hendrerit. Eos erant</p>
    </div>
    <div>
        <input placeholder="Email">
    </div>
</section>
<hr>
<section class="order">
    <h2>Commandes facilitées</h2>
    <div class="order__items">
        <div>
            <img src="https://via.placeholder.com/180x100" />
            <p>Petite explication</p>
        </div>
        <div>
            <img src="https://via.placeholder.com/180x100" />
            <p>Petite explication</p>
        </div>
        <div>
            <img src="https://via.placeholder.com/180x100" />
            <p>Petite explication</p>
        </div>
    </div>
</section>
<section class="partner">
    <h2>Ils parlent de nous</h2>
    <div class="partner__items">
        <div>
            <img src="https://sallelesdaude.fr/application/files/7015/1783/7202/magazine_art_et_decoration_partenaire_salon_art_deco_paris_fevrier_2017_0.png" />
            {# <p>Partenaire</p> #}
        </div>
        <div>
            <img src="http://www.d4n.be/wp-content/uploads/BeauxArts_Logo.gif" />
            {# <img src="https://via.placeholder.com/120x75" /> #}
            {# <p>Partenaire</p> #}
        </div>
        <div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/6/6d/Art%2B_Magazine_Logo.png" />
            {# <p>Partenaire</p> #}
        </div>
        <div>
            <img src="https://i.pinimg.com/474x/7c/3f/a6/7c3fa6333bc0b9fec0df3ca511928d1a.jpg" />
            {# <p>Partenaire</p> #}
        </div>
    </div>
</section>
{% endblock %}
