{% extends 'connect.html.twig' %}

{% block title %}{{parent()}} - Register{% endblock %}

{% block connection %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Register</h1>

    {% if notification %}
        <div>{{ notification }}</div>
    {% endif %}
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.name) }}
        {{ form_row(registrationForm.firstname) }}

        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
    <div class="noAccount">
        <p>Vous avez un compte ?</p>
        <a href="{{ path('login') }}">Se connecter</a>
    </div>

{% endblock %}
