{% extends 'layout.html.twig' %}

{% block title %}{{parent()}} - Artiste - {{user.name}} {{user.firstName}}{% endblock %}

{% block content %}

<section class="presentation">
    <aside>   
        <div class="profileBox">   
            <div class="profileCard"> 

            <div class="follow"><p>
            {% if subscription %}  
            <a class="unfollowButton" href="{{path('unfollow', {'id': user.id}) }}">⭐ Ne plus suivre</a>
            {% else %}
            <a class="followButton" href="{{path('follow', {'id': user.id}) }}">⭐ Suivre</a>
            {% endif %}
              {{nbSubscribers}} Abonné{% if nbSubscribers != 1 %}s{% endif %}</p>
            </div>

                {% if user.avatar %}
                    <center><img class="imgMedium" src="{{ asset('img/user/' ~ user.avatar) }}"/></center>
                {% else %}
                    {% if user.gender == "homme" %}
                        <img class="imgMedium" src="{{ asset('img/user/man.png') }}"/>
                    {% else %}
                        <img class="imgMedium" src="{{ asset('img/user/woman.png') }}"/>
                    {% endif %}
                {% endif %}
                    <div>
                        <h2>{{user.firstName}} {{user.name}}</h2>
                        <h3>Oeuvres : {{user.product.count}}</h3>
                    </div>
            
                {% if user.description %}
                    <p>
                        {{user.description | capitalize | slice(0, 150)}}
                        {% if user.description | length > 150 %}
                            ...
                        {% endif %}
                    </p>
                {% else %}
                    <p>(Aucune description)</p>
                {% endif %}
            </div>
        </div>
    </aside>

    
    <div class="products">
        {% for product in user.product %}
            <div class="productBox">
                
                    <h2>
                        <a href="{{path('product', {'id': product.id} )}}">{{ product.name | capitalize }}</a>
                        <span><a href="{{path('category', {'id': product.category.id} ) }}">({{ product.category.name }})</a></span>
                    </h2>
                    <center>
                        {% if app.user and user.id == app.user.id %}
                            {% include 'product/editProductButtons.html.twig' %}
                        {% endif %}
                        <p>{{ product.description | capitalize | slice(0, 150)}}</p>

                        <div>
                            <img class="imgBig" src="{{ asset('img/product/' ~ product.img) }}"/>  
                            {% if product.isSold %}
                                <img class="sold" alt="Vendu icônes créées par Alfredo Hernandez - Flaticon" title="Oeuvre vendue" src="{{ asset('img/vendu.png')}}">
                            {% else %}
                                <p class="price">{{ product.price}}€</p>
                            {% endif %}
                        </div>
                        
                    </center>
            </div>
            <div class="spacingRow"></div>
        {% endfor %}
    </div>
</section>
<section >
    <h2>Vous aimerez aussi ...</h2>
    {#% for  | reverse | slice(0, 3) %#}
        <div class="otherArtists">
            <div class="anotherArtist">
                <img src="{{ asset('img/user/man.png') }}"/>
                <div>  
                    <h3>Autre Artiste</h3>
                    <p> Début de description du profil ....</p>
                </div>
            </div>

            <div class="anotherArtist">
                <img src="{{ asset('img/user/man.png') }}"/>
                <div>  
                    <h3>Autre Artiste</h3>
                    <p> Début de description du profil ....</p>
                </div>
            </div>
            <div class="anotherArtist">
                <img src="{{ asset('img/user/woman.png') }}"/>
                <div>  
                    <h3>Autre Artiste</h3>
                    <p> Début de description du profil ....</p>
                </div>
            </div>
        </div>
    {#% endfor %#}
</section>

{% endblock %}