{% extends 'layout.html.twig' %}


{% block title %}{{parent()}} - Artistes {% endblock %}



{% block content %}

<h2 class="rubriqueTitle">Liste des artistes</h2>
{% if app.user and is_granted('ROLE_ARTIST') == false %}
<a class="createButton" href="{{path('product_new', {'id':app.user.id})}}">Devenir exposant sur le site</a>
{% endif %}
<section class="artistList">
    {% for artist in artists %}
        <div class="artistBox">
            
                {% if artist.avatar %}
                    <img class="imgMedium" src="{{ asset('img/user/' ~ artist.avatar) }}"/>
                {% else %}
                    {% if artist.gender == "homme" %}
                        <img class="imgMedium" src="{{ asset('img/user/man.png') }}"/>
                    {% else %}
                        <img class="imgMedium" src="{{ asset('img/user/woman.png') }}"/>
                    {% endif %}
                {% endif %}

            <div class="artistCard">    
                <a href="{{ path('artistPage', {'id':artist.id}) }}">
                    <h3>{{artist.firstname}} {{artist.name}}</h3> 
                
                </a> 
                {% set artistId = artist.id %}
                <div><p>
                {% if isFollowed[artistId] %}  
                <a class="unfollowButton" href="{{path('unfollow', {'id': artist.id}) }}">⭐ Ne plus suivre</a>
                {% else %}
                <a class="followButton" href="{{path('follow', {'id': artist.id}) }}">⭐ Suivre</a>
                {% endif %}
                {{followers[artistId] }} Abonné{% if followers[artistId] != 1 %}s{% endif %}</p>
            </div>
                <p>{{artist.description | capitalize | slice(0, 150)}}
                {% if artist.description|length > 150 %}
                ...
                {% endif %}</p>
            </div>
            
        </div>
        
    {% else %}

    <p>Il n'y a pas encore d' artistes</p>
    {% endfor %}
</section>

{% endblock %}