{% extends 'layout.html.twig' %}


{% block title %}{{parent()}} - Artistes {% endblock %}



{% block content %}

<link href="{{ asset('styles/artists.css') }}" type="text/css" rel="stylesheet" />

<div>
    </br></br>
    <ul>
        <h2 class="rubriqueTitle">Liste des artistes</h2>
    </ul>
    <a class="validBtn" href="{{path('product_new', {'id':app.user.id})}}">Devenir exposant sur le site</a>
    {# {% for artists in artist %} #}
    {% for artist in artists %}
    <ul>
        <div class="artistBox">
            <div class="artistCard">
            <img class="pictureFloat" src="{{artist.avatar}}" width="100" height="100" onerror="this.style.display='none'"/>
                <h3>
                    <a href="{{ path('artistList', {'id':artist.id}) }}">
                        {{artist.firstname}} {{artist.name}}  
                        
                    </a> </br>
                    <button name="Abonnement">S'abonner</button> </br>
                </h3>

                {{artist.description}}
                
            </div>
        </div>
    </ul>
    {% else %}

    <p>Il n'y a pas encore d' artistes</p>
    {% endfor %}

    </br></br>
</div>

{% endblock %}