{% extends 'layout.html.twig' %}

{% block title %} {{artist.firstname}} {{artist.name}} {% endblock %}



{% block content %}
<link href="{{ asset('styles/artists.css') }}" type="text/css" rel="stylesheet" />
<div class="artistBox">
    <div class="artistCard">
        <img class="pictureFloat" src="{{artist.avatar}}" width="125" height="125" onerror="this.style.display='none'"/>
    
        <b> 
            <div class="artistTitle"> 
                {{artist.firstname}} {{artist.name}}  
                <button name="Abonnement">S'abonner</button>  
                </br>
            </div>
        </b>  


        {{artist.description}} </br>
        
    </div>

</div>

</br></br></br></br>

{% endblock %}