{% extends 'layout.html.twig' %}

{% block title %}{{parent()}} - {{category.name | capitalize}}{% endblock %}

{% block content %}
    <div class="categoryBand">
        <h1 style="background-image:{{category.img}}">{{category.name | capitalize}}</h1>
        <img src="{{category.img}}"/>
    </div>   

    <section class="productsList"><div class="products">
    {% for product in category.products %}
        {% include 'product/productCard.twig' %}
    {# <div class="productBox">
        <div class="product">
            
            <a href="{{path('product', {'id': product.id} )}}">
            <h2>{{ product.name | capitalize }}</h2>
                <img class="imgBig" src="{{ asset('img/product/' ~ product.img) }}"/>
            </a>
            <h2><a class="authorName" href="{{path('artistPage', {'id': product.artist.id} ) }}">{{ product.artist.firstname }} {{ product.artist.name }}</a></h2>             
            <p>{{ product.description | capitalize | slice(0, 150)}}</p>
        </div>
    </div> #}
    {% else %}
        <p>Il n'y a pas encore d'oeuvres à présenter.</p>
    {% endfor %}
    </div>
    </section>


{% endblock %}