{% extends '@EasyAdmin/page/content.html.twig' %}

{% block db_stylesheets %}
<style>
section#dashboard{
    display:flex; 
    flex-wrap:wrap; 
    justify-content: space-between;
    margin:0.5vw;
    border-radius: 10px;
    background-color: rgb(240, 235, 223);
    border: 1px solid rgb(240, 235, 223);
    width:100%;
}

div.kpi{
    display:flex;
    flex-direction: column;
    vertical-align: middle;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5%;
    padding: 0.5vw;
    width: 30%;
    height:32vh;
    margin:1vw;
    background-color: rgb(255, 255, 255);
}

div.chart{
    padding: 0.5vw;
    margin:1vw;
    height:32vh;
    width: 63%;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

p{
    text-align: center;
}

div.kpiItems{
    padding: 0.5vw;
    color: rgb(118, 75, 54);
    font: 16px "Georgia", serif;
}

div.kpiNumbers{
    font-size: 3vw;
    color: red;
}

span.subNumber{
    font-size:1vw;
}   

.red{
    width: 10px;
    height: 10px;
    background: red;
}
</style>
{% endblock %}

{% block content_title %}<h1>Tableau de bord</h1>{% endblock %}
{# {% block page_actions %}
    <a class="btn btn-primary" href="...">Some Action</a>
{% endblock %} #}

{% block main %}
    <section id="dashboard">
        <div class="kpi">
            <p class="kpiItems" style="
            padding-top: 0.5vw;
    color: rgb(118, 75, 54);
    font: 1vw "Georgia", serif;
    margin-top: 1vw;
    ">Nombre total de ventes</p>
            <p class="kpiNumbers" style="
            font-size: 5vw;
    font-weight: bolder;
    color: rgb(255, 196, 168);
    ">{{ orders|length }}</p>
            <p class="subKpi"><span class="subNumber" style="font-size:2vw; font-weight: bolder; color: rgb(255, 232, 183);">{{ orders30|length }}</span> / 30 jours</p>
        </div>
        <div class="kpi">
            <p class="kpiItems" style="
            padding-top: 0.5vw;
    color: rgb(118, 75, 54);
    font: 1vw "Georgia", serif;
    margin-top: 1vw;
    ">Nombre total de ventes</p>
            <p class="kpiNumbers" style="
            font-size: 5vw;
    font-weight: bolder;
    color: rgb(255, 196, 168);
    ">{{total}}€</p>
            <p class="subKpi"><span class="subNumber" style="font-size:2vw; font-weight: bold; color: rgb(255, 232, 183);">{{ total30 }}€</span> / 30 jours</p>
        </div>
        <div class="kpi">
            <p class="kpiNumbers" style="
            font-size: 5vw;
    font-weight: bolder;
    color: rgb(255, 196, 168);
    margin-top: 2.5vw;
    ">{{artists|length}}</p>
            <p class="subKpi"><span class="subNumber" style="font-size:2vw; font-weight: bold; color: rgb(240, 235, 223);">Artistes</span></p>
        </div>
        <div class="kpi">
            <p class="kpiNumbers" style="
            font-size: 5vw;
    font-weight: bolder;
    color: rgb(255, 196, 168);
    margin-top: 2.5vw;
    ">{{products|length}}</p>
            <p class="subKpi"><span class="subNumber" style="font-size:2vw; font-weight: bold; color: rgb(240, 235, 223);">Oeuvres</span></p>
        </div>
        <div class="chart">
        </div>
        <div class="red">
        </div>
    </section>
{% endblock %}

{# <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>  #}
{# <script>
document('.dashboard').addEventListener('click', function(){
    console.log(response.json());
})
</script>  #}