{% extends 'connect.html.twig' %}

{% block title %}{{parent()}} - login{% endblock %}


{% block wallpaper %}<img class="imgConnect" src="{{ asset('img/product/' ~ paperwall) }}"/>{% endblock %}
{% block connection %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div>
    {% for message in app.session.flashBag.get('success') %}
        <div>{{ message }}</div>
    {% endfor %}
</div>


<form class="connection" action="{{ path('login') }}" method="post">
<h1 class="rubriqueTitle">Se connecter</h1>

    <div class="formField">
        <label for="username">Adresse Email :</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}"/>

        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="_password"/>

        {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"/> #}

    <button type="submit">Connexion</button>
    <a href="{{ path('reset_password') }}">Mot de passe oublié</a>
</form>
<div class="noAccount">
    <p>Pas encore de compte ?</p>
    <a href="{{ path('app_register') }}">S'incrire</a>
</div>
{% endblock %}