{% extends 'layout.html.twig' %}

{% block title %}{{parent()}}Les oeuvres vendues{% endblock %}

{% block content %}
    
    <h1>Oeuvres vendues</h1>
    <div class="filters">
        {{form_start(form)}}
        {{form_end(form)}}
    </div>

    <section class="productsList">
    {% for product in products %}
        {% if loop.first %}

        {% endif %}
        <div>
        {% if product.artist %}
            <a href="{{path('artistPage', {'id': product.artist.id} ) }}">{{ product.artist.firstname }} {{ product.artist.name }}</a>
        {% endif %}
            <div>
                <img src="{{ asset('img/product/' ~ product.img) }}"/>  
                <div>
                    <h2>
                        <a href="{{path('product', {'id': product.id} )}}">{{ product.name | capitalize }}</a>
                        <span><a href="{#{path('artist', {'id': product.artist.id} ) }#}">({{ product.category.name }})</a></span>
                    </h2>             
                    <p>{{ product.description | capitalize | slice(0, 50)}}</p>
                </div> 
            </div>     
        </div>

    {% else %}
    <p>Il n'y a pas de produit vendu</p>
    {% endfor %}
	</section>
{% endblock %}
