{% extends 'layout.html.twig' %}

{% block title %}{{parent()}} - {{product.name}}{% endblock %}

{% block content %}

{% include 'home/flashMessages.twig' %}

<div class="spacingSmall"></div>
<section  class="presentation">
<aside>
    <div class="products">
        <div class="productFullSection">
            
                <p class="nameTitle">
                    {{product.name | capitalize}}    
                    {% if product.artist == app.user %}
                            {% include 'product/editProductButtons.html.twig' %}
                    {% endif %}
                
                <p class="nameSecondaryTitle">Par <u><a href="{{path('artistPage', {'id': product.artist.id} ) }}">{{ product.artist.firstname }} {{ product.artist.name }}</a></u></p></p>
                
         
                
                <p>{{ product.description | capitalize }}</p>
                <div>
                 <center>   <img class="imgProduct" src="{{ asset('img/product/' ~ product.img) }}"/> </center>
                </div>
            
        </div>
    </div>
  </aside>

    <div class="SaleInfoBox">
        <h2 class="secondaryTitle">Mise en vente</h2> 
        {% if product.isSold != true %}
            <p class="priceTag">Prix: {{ product.price | capitalize }} €</p>
        {% endif %} 
            <div class="action">
                {% if product.artist != app.user %}
                    {% if product.isSold != true %}
                        <a class="addCartButton" href="{{path('cart_add', {'id': product.id}) }}"/>Ajouter au panier</a>  
                    {% else %}
                        <p class="indication">Ce produit n'est plus en vente.</p>
                    {% endif %}  
                {% else %}
                    <p class="indication">Il s'agit de l'un de vos produits.</p>
                {% endif %}           
            </div>
                
            <h2 class="secondaryTitle">Détails techniques du produit</h2> 
            <p>Catégorie : <a href="{{path('category', {'id': product.category.id} ) }}">{{ product.category.name }}</a></p>  
            <p>Dimensions: 120x170 cm</p>             

    </div>        
</section>        
        
<div class="spacingBig"></div>
            
<section >                 
         

                    <div class="commentBox">
                    <h2 class="rubriqueTitle">Commentaires</h2>
                    {% if (app.request.get('_route') == 'productComments') or (app.request.get('_route') == 'editComments') %}
                        <a class="cancelButton" href="{{path('product', {'id': product.id} ) }}">< Retour</a>
                        <h2>Laisser un commentaire</h2>
                        
                                {{ form_start(formComment)}} 
                            <div class="formField">
                                
                                    {{ form_label(formComment.Message) }}
                                    {{ form_errors(formComment.Message) }}
                                    {{ form_help(formComment.Message) }}
                                    {{ form_widget(formComment.Message) }}
                                {{ form_end(formComment)}}
                                
                            </div>
                    {% else %}
                    
                         <center><a class="commentButton" href="{{path('productComments', {'id': product.id} ) }}">Laisser un commentaire</a>  </center> 
                    
                    {% endif %}
                        
                        <div class="spacingSmallMargin">
                        
                        </div>
                        {% for comment in comments %}
                            <div class="commentCard">
                                    <p>
                                        De <b><a href="{{path('artistPage', {'id': comment.user.id} ) }}">{{ comment.user.firstname }} {{ comment.user.name }}</a></b> 
                                        {% if comment.date %} 
                                            le {{ comment.date }}
                                        {% endif %}

                                        {% if comment.user ==  app.user and (app.request.get('_route') == 'product') or app.user and is_granted('ROLE_ADMIN') == true %} 
                                            <a class="editButton" href="{{path('editComments', {'id': product.id, 'idCom': comment.id} ) }}">Editer</a>
                                            <a class="deleteButton" href="{{path('deleteComments', {'idCom': comment.id} ) }}">Supprimer</a> 
                                        {% endif %}
                                    </p>
                                <p>{{comment.message}}</p>             
                            </div>
                        {% endfor %}
                    </div>
</section> 
                
       

<section id="other">
    <h2 class="rubriqueTitle">Vous aimerez aussi ...</h2>
        <div class="otherOeuvres">
        {% for other in others %}
        <a href="{{path('product', {'id':other.id})}}" >
            <div class="anotherOeuvre">
                <div>  
                    <h3>{{other.name | capitalize}}</h3>
                    <p>De {{ other.artist.firstname | capitalize }} {{ other.artist.name | capitalize }} </p>
                </div>
                <img src="{{ asset('img/product/' ~ other.img) }}"/>
            </div>
        </a>    
        {% else %}
        {% endfor %}
        </div>
</section>



{% endblock %}

{% block javascripts %}
<script>
</script>
{% endblock %}