{% extends 'layout.html.twig' %}

{% block title %}{{parent()}}Les oeuvres vendues{% endblock %}

{% block content %}
    
    <h1>Oeuvres vendues</h1>
    <div class="filters">
        {{form_start(form)}}
            {{ form_label(form.string) }}</br>
            {{ form_errors(form.string) }}
            {{ form_help(form.string) }}
            {{ form_widget(form.string) }}

            {{ form_label(form.categories) }}
            {{ form_widget(form.categories) }}

            {{ form_widget(form.minPrice, {attr: {style: "display:none"}}) }}
            {{ form_widget(form.maxPrice, {attr: {style: "display:none"}}) }}
        {{form_end(form)}} 
    </div>

    <section class="productsList">
    {% for product in products %}
        {% if loop.first %}

        {% endif %}
        
        {% include 'product/productCard.twig' %}


    {% else %}
    <p>Il n'y a pas de produit vendu</p>
    {% endfor %}
	</section>
{% endblock %}
