{% extends 'layout.html.twig' %}

{% block title %}{{parent()}} - {{product.name}}{% endblock %}

{% block content %}


<div class="spacingSmall"></div>
<section >
    <div class="products">
        <div class="productBox">
            <h1>{{product.name | capitalize}}</h1>
            <a href="{{path('artistPage', {'id': product.artist.id} ) }}">{{ product.artist.firstname }} {{ product.artist.name }}</a>
            <div>
                {% if product.artist == app.user %}
                    {% include 'product/editProductButtons.html.twig' %}
                {% endif %}
            </div>
            <p>{{ product.description | capitalize }}</p>
            <img class="imgBig" src="{{ asset('img/product/' ~ product.img) }}"/>
            <div class="filters">
            </div>
        </div>
    </div>
  
    <div class="spacingSmall"></div>
    
    

            {% if product.artist != app.user %}
            
                <div class="productBox">
                    <h2 class="rubriqueTitle">Mise en vente</h2>                
                    <p>Prix: {{ product.price | capitalize }} €</p>
                    <div class="action">
                        <a href="{{path('cart_add', {'id': product.id}) }}"/>Ajouter au panier</a>             
                    </div>
                    <div class="action">
                        <h3>Détails techniques du produit</h3> 
                        <a href="{{path('category', {'id': product.category.id} ) }}">{{ product.category.name }}</a>
                        <p>Dimensions: 120x170 cm</p>             
                    </div>
                </div>
              
              


                {% endif %}
              
</section>        
                 
                <div class="spacingSmall"></div>

                <div class="allComments">
                
                    <div class="productBox">
                        <h2 class="rubriqueTitle">Commentaires</h2>
                        <h2>Laissez votre commentaire</h2>
                        <input type="textarea" />
                        <div class="actionCom">
                            <p>⭐⭐⭐</p>
                            <button>Envoyer</button>
                    </div> 

                    <div class="spacingSmall"></div>

                    <h2>Tous les commentaires</h2>

                    {% for comment in product.comments %}
                        <div class="comment">
                            <div>
                                <h4>De {{comment.user}}</h4>
                                <p>⭐</p>
                            </div>
                            <p>{{comment}}</p>             
                        </div>
                    {% endfor %}
                    </div>
                    </div>
       
    

    <section >
    <h2 class="rubriqueTitle">Vous aimerez aussi ...</h2>
    {#% for  | reverse | slice(0, 3) %#}
        <div class="otherOeuvres">
            <div class="anotherOeuvre">
                <div>  
                    <h3>Autre Oeuvre</h3>
                    <p> Début de description de l'oeuvre ....</p>
                </div>
                <img src="{{ asset('img/product/d813d4903ac4445a84746e8133643e95.jpg') }}"/>
            </div>

            <div class="anotherOeuvre">
                <div>  
                    <h3>Autre Oeuvre</h3>
                    <p> Début de description de l'oeuvre ....</p>
                </div>
                <img src="{{ asset('img/product/') }}"/>
            </div>
            <div class="anotherOeuvre">
                <div>  
                    <h3>Autre Oeuvre</h3>
                    <p> Début de description de l'oeuvre ....</p>
                </div>
                <img src="{{ asset('img/product/') }}"/>
            </div>
            <div class="anotherOeuvre">
                <div>  
                    <h3>Autre Oeuvre</h3>
                    <p> Début de description de l'oeuvre ....</p>
                </div>
                <img src="{{ asset('img/product/') }}"/>
            </div>
        </div>
    {#% endfor %#}
</section>
{% endblock %}

{% block javascripts %}
<script>
</script>
{% endblock %}