{% extends 'base.html.twig' %}

{% block header %}
    {# <div  class="nav header_head">
        {% if (app.user) %}
            <a href="{{path('cart_index')}}"><i class="fas fa-shopping-cart"></i></a>
            <li><a class="nav__link" href="{{ path('app_profil', {'id':app.user.id}) }}">Mon Profil</a></li>
            <li><a class="nav__link" href="{{ path('app_logout') }}">Déconnexion</a></li>
        {% else %}
            <li><a class="nav__link" href="{{ path('login') }}">Connexion</a></li>
            <li><a class="nav__link" href="{{ path('app_register') }}">Inscription</a></li>
        {% endif %}
    </div> #}
            
    <nav>
        <a href="{{path('home')}}"><img src="{{asset('img/logo.png')}}" id="logo" alt="logo de la galerie"/></a>
        <div>
            <ul class="nav" >
                <li><a class="nav__link" href="{{path('artistList')}}">Artistes</a></li>
                <li><a class="nav__link" href="{{path('categories')}}">Catégories</a></li>
                <li><a class="nav__link" href="{{path('events')}}">Evenements</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a class="nav__link" href="{{ path('admin') }}">Administration</a></li>
                {% elseif is_granted('ROLE_ARTIST') %}
                    <li><a class="nav__link" href="{{path('product_new', {'id':app.user.id})}}">Ajout oeuvre</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="search_product">
            {# {% if (app.user) %}
                <a href="{{path('cart_index')}}"><i class="fas fa-shopping-cart"></i></a>
            {% endif %}
            <i class="fas fa-search"></i>
            <input placeholder="Rechercher"> #}
            <div  class="nav header_head">
                {% if (app.user) %}
                    <a href="{{path('cart_index')}}"><i class="fas fa-shopping-cart"></i></a>
                    <li><a class="nav__link" href="{{ path('app_profil', {'id':app.user.id}) }}">Mon Profil</a></li>
                    <li><a class="nav__link" href="{{ path('app_logout') }}">Déconnexion</a></li>
                {% else %}
                    <li><a class="nav__link" href="{{ path('login') }}">Connexion</a></li>
                    <li><a class="nav__link" href="{{ path('app_register') }}">Inscription</a></li>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}

{% block body %}

<main>
{% include 'home/flashMessages.twig' %}
{% block content %}{% endblock %}
</main>

{% endblock %}

{% block footer %}
    <div class='major'>
        <div class='major__cat'>
            <h4>Nos offres</h4>
            <ul class="nav" >
                <li><a class="nav__link" href="{{ path('app_product')}}">Les oeuvres à vendre</a></li>
                <li><a class="nav__link" href="{{path('artistList')}}">Les artistes</a></li>
                <li><a class="nav__link" href="{{ path('products_sold')}}">Les oeuvres vendues</a></li>
                <li><a class="nav__link" href="{{ path('app_register')}}">Inscription</a> / <a class="nav__link" href="{{ path('login')}}">Connexion</a></li>
            </ul>
        </div>
        <div class='major__cat'>
            <h4>Artistes</h4>
            <ul class="nav" >
                <li><a class="nav__link" href="{{ path('app_register')}}">Inscription</a> / <a class="nav__link" href="{{ path('login')}}">Connexion</a></li>
                {% if is_granted('ROLE_ARTIST') %}
                    <li><a class="nav__link" href="{{path('product_new', {'id':app.user.id})}}">Ajout oeuvre</a></li>
                {% elseif (app.user) %}    
                    <li><a class="nav__link" href="{{path('product_new', {'id':app.user.id})}}">Devenir artiste</a></li>
                {% else %}    
                {% endif %}
            </ul>
        </div>
        <div class='major__cat'>
            <h4>Guides et contact</h4>
            <ul class="nav" >
                <li><a class="nav__link" href="{{ path('contact')}}">Contact</a></li>
                <li><a class="nav__link" href="{{ path('privacy')}}">Mentions légales</a></li>
                <li><a class="nav__link" href="{{ path('privacypolicy')}}">Politique de confidentialité</a></li>
                <li><a class="nav__link" href="{{ path('terms')}}">CGU</a></li>
            </ul>
        </div>
    </div>  
    &copy2022 ArtGalery
{% endblock %}