{% extends 'layout.html.twig' %}

{% block title %}{{parent()}} - {{user.name}} {{user.firstName}}{% endblock %}

{% block content %}

{% if app.user.id == user.id %}
    <h2 class="rubriqueTitle">Mes informations</h2>
    <div class="profileBoxSmall">
        <center>
            <h3 class="card-title">{{user.name}} {{user.firstName}}</h3>
            {% if user.avatar %}
                <img class="imgMedium" src="{{ asset('img/user/' ~ user.avatar) }}"/>
        <center>
        {% else %}
            {% if user.gender == "homme" %}
                <img src="{{ asset('img/user/man.png') }}"/>
            {% else %}
                <img src="{{ asset('img/user/woman.png') }}"/>
            {% endif %}
        {% endif %}
        <div class="personnalInformation">
            <p class="card-text"><b>Mail:</b> {{app.user.email}}</p>
        </div>
        <div class="personnalInformation">
            {% if app.user.age is empty %}
            <p class="card-text">Date de naissance non renseignée</p>
            {% else %}
            <p class="card-text"><b>Date de naissance:</b> {{app.user.age|date("m/d/Y")}}</p>
            {% endif %}
        </div>
        <div class="personnalInformation">
            {% if not app.user.gender %}
            <p class="card-text">Sexe non renseigné</p>
            {% else %}
            <p class="card-text"><b>Sexe:</b> {{app.user.gender}}</p>
            {% endif %}
        </div>

        {% if is_granted("ROLE_ARTIST")%}
            <div class="personnalInformation">
                <a class="whiteButton" href="{{path('artistPage', {'id': user.id})}}">Voir ma page artiste</a>
            </div>
        {% endif %}
        <div class="spacingSmall">
            <button class="open-modale-slide-side">Modifier le profil</button>
            <a href="#" onclick="return confirm('Etes vous sur de vouloir supprimer votre compte ? Toutes vos données seront effacées')">Supprimer mon compte</a>
        </div>
    </div>

 
{% else %}
    <h2>Erreur de page</h2>
    <p>Vous n'avez pas les droits pour cette page</p>
    <a href="{{ path('home')}}">Retour à la page d'accueil</a>
{% endif %}

<div class="modaleContainer">
    <div class="modale-slide-side">
        <div>
            <p class="close">❌</p>
            <h2>Editer le profil</h2>
        </div>
        {{ form_start(form)}}
            <div class="col-md-12">
                {{ form_row(form.plainEmail.first, {'attr':{'novalidate': 'novalidate'}}) }}                   
            </div>
            <div class="col-md-12">
                {{ form_row(form.plainEmail.second, {'attr':{'novalidate': 'novalidate'}}) }}                   
            </div>
            <div class="col-md-12">
                {{ form_row(form.firstname, {'attr':{'novalidate': 'novalidate'}}) }}                   
            </div>
            <div class="col-md-12">
                {{ form_row(form.name, {'attr':{'novalidate': 'novalidate'}}) }}                   
            </div>
            <div class="col-md-12">
                {{ form_row(form.gender, {'attr':{'novalidate': 'novalidate'}}) }}                   
            </div>
            <div class="col-md-12">
                {{ form_row(form.age, {'attr':{'novalidate': 'novalidate'}}) }}                   
            </div>
            <div class="col-md-12">
                {{ form_row(form.plainPassword.first, {'attr':{'class': 'form-control'}}) }}                   
            </div>
            <div class="col-md-12">
                {{ form_row(form.plainPassword.second, {'attr':{'class': 'form-control'}}) }}                   
            </div>
            <div class="col-md-12">
                {{ form_row(form.avatar, {'attr':{'novalidate': 'novalidate'}}) }}                   
            </div>
            <div class="col-md-12">
                {{ form_row(form.description, {'attr':{'novalidate': 'novalidate'}}) }}                   
            </div>
        <div>
            {# <button class="close">❌ Annuler</button> #}
            <button type="submit">✔️ Valider</button>
        </div> 
        {{ form_end(form)}}
    </div>
</div>

<script>
let $open = document.querySelector('.open-modale-slide-side');
let $close = document.querySelectorAll('.close');
let $modale = document.querySelector('.modaleContainer');

$open.addEventListener('click', function(){
    $modale.style.display = "block";
});

$close.addEventListener('click', function(){
    $modale.style.display = "none";
});
</script>

{% endblock %}

{# {% block javascripts %}
    <script  type="text/javascript" src="{{ asset('js/modale-slide-side.js') }}"></script>
{% endblock %} #}
